{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | Progress Pulse</title>
    <link rel="stylesheet" href="/static/accounts/css/forgot_password_style.css">

    <!-- =====favicons===== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">

</head>
<body>
    <div class="container">
        <div class="forgot-password-form">
            <h2>Forgot Password</h2>
            <p>Please enter your username and email registered with the college. We will send an OTP to reset your password.</p>
            <form method="POST" action="{%url 'accounts:forgot-password'%}">
                {% csrf_token %}
                <input type="text" name='username' placeholder="Username" required>
                <input type="email" name='email' placeholder="Email" required>
                <button type="submit">Send OTP</button>
            </form>
            {% if message %}
            <p class="error-message">{{ message }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>