
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password | Progress Pulse</title>
  <link rel="stylesheet" href="/static/accounts/css/otp_and_reset_password_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- =====favicons===== -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">

</head>
<body>
  <div class="container">
    {% if not success %}
    <div class="otp-verification-form">
      <h2>OTP Verification</h2>
      <p id="otp-message">An OTP has been sent to your email address. Please enter the OTP within 10 minutes. If you don't see the email, please check your spam folder.</p>
      <form method="POST" action="{% url 'accounts:otp-verification' %}">
        {% csrf_token %}
        <input type="text" name="otp" placeholder="Enter OTP" maxlength="6" pattern="\d{6}" required>
        <button type="submit">Verify OTP</button>
      </form>
      {% if error_message %}
      <p class="error-message">{{ error_message }}</p>
      {% endif %}
    </div>
    {% else %}
    <div class="password-reset-form">
      <h2>Create New Password</h2>
      <form method="POST" action="{% url 'accounts:reset-password' %}">
        {% csrf_token %}
        <input type="text" name="password" placeholder="New Password" required>
        <div class="password-field">
          <input type="password" name="confirm_password" id="new_password" placeholder="Confirm Password" required>
          <i class="fas fa-eye-slash eye-icon" onclick="togglePasswordVisibility(this)"></i>
        </div>
        <button type="submit">Reset Password</button>
      </form>
      {% if error_message %}
      <p class="error-message">{{ error_message }}</p>
      {% endif %}
    </div>
    {% endif %}
  </div>

  <script>
    function togglePasswordVisibility(icon) {
      const passwordInput = document.getElementById('new_password')
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      } else {
        passwordInput.type = 'password';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      }
    }
  </script>
</body>
</html>